:root {
	--color-primary: #f0a500;
	--color-secodary: #cf7500;
	--color-bg: #f4f4f4;
}

/* Custom Fonts */
@font-face {
	font-family: 'Open Sans';
	src: '../fonts/Open_Sans/OpenSans-Regular.tff';
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans Bold';
	src: '../fonts/Open_Sans/OpenSans-Bold.tff';
	font-display: swap;
}


body {
	font-family: 'Montserrat', sans-serif;
	max-width: 50%;
	margin: auto;
	background-color: var(--color-bg);
	color: var(--color-primary);
	font-size: 150%;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

textarea {
	min-width: 100%;
	max-width: 100%;
	max-height: 200px;
	min-height: 200px;
	resize: none;
	overflow: scroll;
}

textarea::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

.container::-webkit-scrollbar {
	/* WebKit */
	width: 0px;
}

.comment {
	resize: none;
	overflow: none;
}

code {
	background-color: coral;
}

a, :visited {
	color: var(--color-secodary);
	text-decoration: none;
}

.footer {
	max-width: 50%;
	margin: auto;
}

.socials {
	max-width: 50%;
	margin: auto;
	text-decoration: none;
}

.fa {
	padding: 10px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

.command {
	font-size: 20px;
}

@media (max-width: 700px) {
	body {
		max-width: none;
		margin: 3% 5%;
	}
}
