/* Custom Fonts */
@font-face { 
    font-family: 'Open Sans';
     src: '../fonts/Open_Sans/OpenSans-Regular.tff' 
    }
@font-face {
    font-family: 'Open Sans Bold';
    src: '../fonts/Open_Sans/OpenSans-Bold.tff'
}

h2 {
    font-family: 'Open Sans Bold'
}

body {
    max-width: 50%;
    margin: auto;
    background-color: #e2f3f5;
    color: #0e153a;
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
}

a {
    display: inline-block;
}

:link {
    text-decoration-color: #85203b;
    text-decoration-style: wavy;
    
}

:visited {
    text-decoration-color: #2a0a13;
    text-decoration-style: wavy;

}

.footer {
    max-width: 50%;
    margin: auto;
}

.socials {
    max-width: 50%;
    margin: auto;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }