#disallow fonts
fonts/*

#allow opensans font
!fonts/Open_Sans
fonts/Open_Sans/*
!fonts/Open_Sans/OpenSans-Regular.ttf
!fonts/Open_Sans/OpenSans-Bold.ttf

#allow roboto font
!fonts/Roboto
fonts/Roboto/*
!fonts/Roboto/Roboto-Regular.ttf
!fonts/Roboto/Roboto-Bold.ttf
